

.main{
    display: flex;
   width: 100%;
   height: 100%;
   
   
    background-color: burlywood;
    justify-content: center;
    align-items: center;

}
.main>div{
    background-color: rgb(14, 212, 238);
    width: 20%;
    height: 20%;

}